/* Banner */
.banner {
  display: table;
  width: 100%;
  background-size: cover;
  min-height: 400px;
  width: 100%;
  clear: both;
}
.banner__content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
h1.content__heading {
  font-size: 54px;
  font-weight: 800;
  line-height: 1.3;
  color: #fff;
  letter-spacing: 10px;
  text-transform: uppercase;
}
h1.content__heading:after {
  content: '';
  border-bottom: 2px solid #fff;
  width: 125px;
  display: block;
  margin: 25px auto 10px auto;
}
.content__subheading {
  color: #fff;
  font-weight: 400;
}
/* Front banner */
.front .banner {
  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ), url('../../images/banner/banner_3.jpeg');
  min-height: 700px;
  background-position: top;
}
/* About us banner */ 
.about .banner {
  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ), url('../../images/about_banner.jpeg');
  background-position: center center;

}
/* Menu banner */
.menu .banner {
  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ), url('../../images/menu.jpeg');
  background-position: center center;
}
/* Contact banner */
.contact .banner {
    background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ), url('../../images/contact.jpeg');
  background-position: center bottom;
}