/* Reservation section */
.book-wrapper {
  text-align: center;
}
.reservation {
  max-width: 650px;
  margin: 0 auto;
}
.reservation .call-wrapper {
  color: #333;
  font-weight: 400;
  display: inline-block;
  margin-left: 15px;
}
.reservation strong {
  text-transform: uppercase;
}
.reservation .ph-number{
  color: #333;
  font-weight: 600;
  margin-left: 10px;
}

.menu-item .price {
  float: right;
}